version: "3.8"
services:
  postgres_keycloak:
    image: postgres:14
    container_name: keycloak_postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5433:5432"
    volumes:
      - postgres_keycloak_data:/var/lib/postgresql/data
    networks:
      - idnet

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: keycloak_server
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: 12345678
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres_keycloak:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: 12345678
    command: ["start-dev", "--import-realm"]
    ports:
      - "8081:8080"
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    networks:
      - idnet

  postgres_identity:
    image: postgres:14
    environment:
      POSTGRES_DB: identitydb
      POSTGRES_USER: identityUser
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5434:5432"
    volumes:
      - postgres_identity_data:/var/lib/postgresql/data
    networks:
      - idnet

  identity-service:
    build:
      context: ./backend/java-service/
      dockerfile: ../../dockerfile/Dockerfile.identity-service
    container_name: identity-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_identity:5432/identitydb
      SPRING_DATASOURCE_USERNAME: identityUser
      SPRING_DATASOURCE_PASSWORD: 12345678
      KEYCLOAK_SERVER_URL: http://keycloak:8081
      KEYCLOAK_REALM: ITS-realm
      KEYCLOAK_CLIENT_ID: identity-service
      KEYCLOAK_CLIENT_SECRET: KjaceHUSAVIKEh38ybI3kQ6RgMU5xnrF
      KEYCLOAK_ISSUER_URI: http://localhost:8081/realms/ITS-realm
    depends_on:
      - postgres_identity
      - keycloak
    #      - eureka
    networks:
      - idnet

#  eureka:
#    build:
#      context: ./backend/java-service/discovery-eureka-server
#      dockerfile: ../../../../dockerfile/Dockerfile.eureka-server
#    container_name: eureka-server
#    ports:
#      - "8761:8761"
#    networks:
#      - idnet
##
#  gateway:
#    build:
#      context: ./backend/java-service/api-gateway
#      dockerfile: ../../../../dockerfile/Dockerfile.api-gateway
#    container_name: api-gateway
#    ports:
#      - "8181:8181"
#    depends_on:
#      - eureka
#    networks:
#      - idnet

volumes:
  postgres_keycloak_data:
  postgres_identity_data:

networks:
  idnet:
    driver: bridge
