version: "3.9"

services:
  postgres_keycloak:
    image: postgres:14
    container_name: keycloak_postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_KEYCLOAK_DB}
      POSTGRES_USER: ${POSTGRES_KEYCLOAK_USER}
      POSTGRES_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD}
    ports:
      - "${POSTGRES_KEYCLOAK_PORT}:5432"
    volumes:
      - postgres_keycloak_data:/var/lib/postgresql/data
    networks:
      - idnet

  postgres_identity:
    image: postgres:14
    container_name: postgres_identity
    environment:
      POSTGRES_DB: ${POSTGRES_IDENTITY_DB}
      POSTGRES_USER: ${POSTGRES_IDENTITY_USER}
      POSTGRES_PASSWORD: ${POSTGRES_IDENTITY_PASSWORD}
    ports:
      - "${POSTGRES_IDENTITY_PORT}:5432"
    volumes:
      - postgres_identity_data:/var/lib/postgresql/data
    networks:
      - idnet

  postgres_userProfile:
    image: postgres:14
    container_name: postgres_userProfile
    environment:
      POSTGRES_DB: ${POSTGRES_USER_PROFILE_DB}
      POSTGRES_USER: ${POSTGRES_USER_PROFILE_USER}
      POSTGRES_PASSWORD: ${POSTGRES_USER_PROFILE_PASSWORD}
    ports:
      - "${POSTGRES_USER_PROFILE_DB_PORT}:5432"
    volumes:
      - postgres_userProfile_data:/var/lib/postgresql/data
    networks:
      - idnet

  postgres_course:
    image: postgres:14
    container_name: postgres_course
    environment:
      POSTGRES_DB: ${POSTGRES_COURSE_DB}
      POSTGRES_USER: ${POSTGRES_COURSE_USER}
      POSTGRES_PASSWORD: ${POSTGRES_COURSE_PASSWORD}
    ports:
      - "${POSTGRES_COURSE_PORT}:5432"
    volumes:
      - postgres_course_data:/var/lib/postgresql/data
    networks:
      - idnet

  postgres_dashboard:
    image: postgres:14
    container_name: postgres_dashboard
    environment:
      POSTGRES_DB: ${POSTGRES_DASHBOARD_DB}
      POSTGRES_USER: ${POSTGRES_DASHBOARD_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DASHBOARD_PASSWORD}
    ports:
      - "${POSTGRES_DASHBOARD_PORT}:5432"
    volumes:
      - postgres_dashboard_data:/var/lib/postgresql/data
    networks:
      - idnet

  eureka:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.eureka-server
    container_name: eureka-server
    ports:
      - "${EUREKA_PORT}:8761"
    networks:
      - idnet

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: keycloak_server
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: ${KEYCLOAK_DB}
      KC_DB_URL: ${KEYCLOAK_DB_URL}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USERNAME}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    command: ["start-dev", "--import-realm"]
    ports:
      - "${KEYCLOAK_EXTERNAL_PORT}:${KEYCLOAK_INTERNAL_PORT}"
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    networks:
      - idnet

  gateway:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.api-gateway
    container_name: api-gateway
    ports:
      - "${GATEWAY_PORT}:8181"
    environment:
      EUREKA_SERVER: ${EUREKA_SERVER}
    depends_on:
      - eureka
    networks:
      - idnet

  identity-service:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.identity-service
    container_name: identity-service
    ports:
      - "${IDENTITY_SERVICE_PORT}:${IDENTITY_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${IDENTITY_SERVICE_PORT}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${DATASOURCE_URL_IDENTITY}
      SPRING_DATASOURCE_USERNAME: ${DATASOURCE_USERNAME_IDENTITY}
      SPRING_DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD_IDENTITY}
      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
      KEYCLOAK_ISSUER_URI: ${KEYCLOAK_ISSUER_URI}
      EUREKA_SERVER: ${EUREKA_SERVER}
      DB_HOST: ${POSTGRES_IDENTITY_HOST}
      DB_POST: ${POSTGRES_IDENTITY_PORT}
      DB_NAME: ${POSTGRES_IDENTITY_DB}
    depends_on:
      - postgres_identity
      - keycloak
    networks:
      - idnet
  user-profile-service:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.user-profile-service
    container_name: user-profile-service
    ports:
      - "${USER_PROFILE_SERVICE_PORT}:${USER_PROFILE_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${USER_PROFILE_SERVICE_PORT}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${DATASOURCE_URL_USER_PROFILE}
      SPRING_DATASOURCE_USERNAME: ${DATASOURCE_USERNAME_USER_PROFILE}
      SPRING_DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD_USER_PROFILE}
      EUREKA_SERVER: ${EUREKA_SERVER}
      DB_HOST: ${POSTGRES_USER_PROFILE_HOST}
      DB_POST: ${POSTGRES_PORT_DEFAULT}
      DB_NAME: ${POSTGRES_USER_PROFILE_DB}
    networks:
      - idnet

  course-service:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.course-service
    container_name: course-service
    ports:
      - "${COURSE_SERVICE_PORT}:${COURSE_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${COURSE_SERVICE_PORT}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${DATASOURCE_URL_COURSE}
      SPRING_DATASOURCE_USERNAME: ${DATASOURCE_USERNAME_COURSE}
      SPRING_DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD_COURSE}
      EUREKA_SERVER: ${EUREKA_SERVER}
      DB_HOST: ${POSTGRES_COURSE_HOST}
      DB_POST: ${POSTGRES_COURSE_PORT}
      DB_NAME: ${POSTGRES_COURSE_DB}
    networks:
      - idnet

  dashboard-service:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.dashboard-service
    container_name: dashboard-service
    ports:
      - "${DASHBOARD_SERVICE_PORT}:${DASHBOARD_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${DASHBOARD_SERVICE_PORT}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${DATASOURCE_URL_DASHBOARD}
      SPRING_DATASOURCE_USERNAME: ${DATASOURCE_USERNAME_DASHBOARD}
      SPRING_DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD_DASHBOARD}
      EUREKA_SERVER: ${EUREKA_SERVER}
      DB_HOST: ${POSTGRES_DASHBOARD_HOST}
      DB_POST: ${POSTGRES_DASHBOARD_PORT}
      DB_NAME: ${POSTGRES_DASHBOARD_DB}
    networks:
      - idnet

  # gateway_dev:
  #   image: its-gateway
  #   container_name: api-gateway-dev
  #   ports:
  #     - "${GATEWAY_DEV_PORT}:8181"
  #   volumes:
  #     - ./backend/java-service/api-gateway/src:/app/src
  #     - ./backend/java-service/api-gateway/target/classes:/app/target/classes
  #   restart: always
  #   networks:
  #     - idnet

volumes:
  postgres_keycloak_data:
  postgres_identity_data:
  postgres_userProfile_data:
  postgres_course_data:
  postgres_dashboard_data:

networks:
  idnet:
    driver: bridge
