server:
  port: 8181

app:
  api-prefix: /api/v1
  eureka-server: localhost

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      # V?i starter "spring-cloud-starter-gateway-server-webflux"
      # thì key "spring.cloud.gateway.server.webflux.routes" t?m ch?p nh?n,
      # nh?ng an toàn nh?t là dùng "spring.cloud.gateway.routes" n?u starter c?.
      server:
        webflux:
          routes:
            - id: user-profile-service
              uri: lb://user-profile-service
              predicates:
                - 'Path=${app.api-prefix}/user/**'
              filters:
                - StripPrefix=2

            - id: discovery-eureka-server
              uri: http://eureka:12345678@${app.eureka-server}:8761
              predicates:
                - 'Path=/eureka/web'

            - id: discovery-eureka-server-static
              uri: http://eureka:12345678@${app.eureka-server}:8761
              predicates:
                - 'Path=/eureka/**'


# N?u b?n dùng security/resource server hãy b?t l?i
#security:
#  oauth2:
#    resourceserver:
#      jwt:
#        issuer-uri: 'http://localhost:8080/realms/spring-boot-microservices-realm'

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
#      defaultZone: http://eureka:12345678@localhost:8761/eureka/
      defaultZone: http://localhost:8761/eureka/



#logging:
#  level:
#    com.netflix.discovery: DEBUG
#    org.springframework.cloud.netflix.eureka: DEBUG
#    org.springframework.web.client.RestTemplate: DEBUG
#  file:
#    name: logs/gateway-debug.log
